.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  font-family: 'Cabinet Grotesk';
  font-size: 20px;
  line-height: 24px;
}
.header__add-clothes-btn {
  margin-left: auto;
  border: none;
  background-color: transparent;
}
.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 0 12px 0;
}
.header__date-and-loc {
  margin: 0;
}
.header__username {
  margin: 0;
}
.header__logo {
  margin: 0 24px 0;
}
