.card {
  width: 325px;
  height: 328px;
  border-radius: 12px;
  position: relative;
  display: flex;
  justify-content: center;
}
.card__name {
  position: absolute;
  top: 15px;
}
.card__image {
  width: 250px;
  height: 250px;
  cursor: pointer;
}
.card__like-btn {
  background-color: transparent;
  top: 25px;
  right: 75px;
  position: absolute;
  border: none;
  cursor: pointer;
  transition: color 0.2s;
  margin-left: 8px;
}
.card__like-btn_active {
  background-image: url('../assets/like-filled.svg');
}
